html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.fcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.frow {
  display: flex;
  gap: 1em;
}
