<div mat-dialog-content>
  <div class="fcol">
    <mat-form-field appearance="fill">
      <mat-label>Enter party code</mat-label>
      <input matInput [formControl]="roomCode" required maxLength="5" oninput="this.value = this.value.toUpperCase()">
      <mat-error *ngIf="roomCode.invalid">{{getRoomCodeErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>What's your name?</mat-label>
      <input matInput [formControl]="userName" required maxLength="20">
      <mat-error *ngIf="userName.invalid">{{getUserNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Nevermind :(</button>
  <button mat-button (click)="onJoinPartyClicked()">Join the Party!</button>
</div>