@use "theme";

button,
.button {
  display: inline-block;
  text-decoration: none;
  background-color: theme.$color;
  color: theme.$background-color;
  text-transform: uppercase;
  font-size: theme.$font-size;
  border: none;
  border-radius: theme.$padding-narrow;
  padding: theme.$padding-narrow;

  img {
    height: theme.$font-size * 1.2;
    margin: 0;
    padding: 0;
    width: auto;
    vertical-align: bottom;
  }

  &:disabled {
    background-color: adjust-color($color: theme.$color, $lightness: -50%);
    color: adjust-color($color: theme.$background-color, $lightness: 50%);
  }

  &.primary {
    background-color: theme.$color-primary;
    color: theme.$color;

    &:disabled {
      background-color: adjust-color($color: theme.$color-primary, $saturation: -75%);
      color: adjust-color($color: theme.$color-primary, $saturation: -90%, $lightness: 25%);
    }
  }

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: theme.$color-primary-highlight2;
    color: theme.$background-color;
  }
}
