@use "theme";

@mixin flex {
  display: flex;
  gap: theme.$padding;
}

.flex-col {
  @include flex;
  flex-direction: column;
}

.flex-col-narrow {
  @include flex;
  gap: theme.$padding-narrow;
  flex-direction: column;
}

.flex-row {
  @include flex;
  flex-direction: row;
}

.flex-row-narrow {
  @include flex;
  flex-direction: row;
  gap: theme.$padding-narrow;
}