@use "theme";

.input-row {
  gap: 0;

  input[type="text"] {
    padding: theme.$padding-narrow;
  }

  .required {
    color: theme.$color-required;
  }

  .hint {
    font-style: italic;
    font-size: theme.$font-size-small;
    color: theme.$color-hint;
  }
}
