@use "theme";

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

@media only screen and (max-width: 650px) {
  .youtube-embed {
    width: 100%;
    height: auto;

    iframe {
      width: 100%;
      height: auto;
    }
  }
}

.playlist {
  flex: auto;
}

.participants {
  flex-shrink: 1;

  .participant-list {
    overflow: auto;

    span {
      max-width: 10em;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
      white-space: nowrap;

      &.owner {
        font-weight: bold;
        
        &::after {
          content: "*";
        }
      }
    }
  }
}
