@use "theme";

header {
  background-color: theme.$color-primary;
  padding: theme.$padding-narrow;
  font-size: larger;
  font-weight: bold;
  font-variant: small-caps;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: theme.$color;
  }

  .username {
    cursor: pointer;
    font-variant: normal;
  }
}

body, .root, .app {
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

article {
  flex: auto;
  width: 900px;
  margin: auto;
  padding: theme.$padding;
  overflow: auto;
  box-sizing: border-box;
  overflow: auto;
}

@media only screen and (max-width: 910px) {
  article {
    width: auto;
    max-width: 100%;
  }
}