/** Colors **/
$color-primary: rgb(91, 0, 156);
$color-primary-highlight1: adjust-color(
  $color: $color-primary,
  $lightness: 25%,
);
$color-primary-highlight2: adjust-color(
  $color: $color-primary,
  $lightness: 50%,
);
$color: #eee;
$color-hint: #888;
$color-required: red;
$background-color: #222;

/** Measurements and padding **/
$font-size: 1em;
$font-size-small: .75em;
$padding: 1em;
$padding-narrow: 0.5em;
