@use "theme";

.toast {
  color: black;
  padding: theme.$padding-narrow;
  width: 300px;
  animation: fade-away 3s ease-out;

  &.error {
    background-color: rgb(255, 144, 144);
  }

  &.success {
    background-color: rgb(144, 255, 144);
  }
}

@keyframes fade-away {
  0% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}